# directories de données
DATA*/
FME/
IMAGES*
OLD/
PDAL/
RESULTS

dataDalles/
datasets/
.ipynb_checkpoints/

# fichiers logs
.log
# .DS_Store

# fichiers particuliers   .csv .xlsx ....  .npy
BatchLampadaire*
donnees_*